@model IEnumerable<AdministradorPedidosApp.Models.CuponModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/registro-delete.css" rel="stylesheet" />

<!-- Estilos k -->
<style>
    .k-modal-content {
        background-color: #fce4ec;
        border-radius: 15px;
        border: 2px solid #f8bbd0;
        text-align: center;
    }

    .k-modal-header {
        border-bottom: 0;
    }

    .k-modal-body {
        font-family: 'Comic Sans MS', cursive, sans-serif;
        color: #d81b60;
        font-size: 1.2em;
    }

    .k-modal-footer {
        border-top: 0;
    }

    .k-image {
        width: 100px;
        height: auto;
        margin-top: 10px;
    }

    .btn-secondary-k {
        background-color: #f48fb1;
        border: none;
        border-radius: 20px;
    }

        .btn-secondary-k:hover {
            background-color: #f06292;
        }
</style>

@if(TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>
}
else
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div id="success-message" style="margin: 5px;"></div>
    <input type="text" id="articulosSearchIndex" class="form-control" placeholder="Buscar Cupón..." />
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PorcentajeDto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaFin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoCupon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activo)
                </th>
                <th>
                    Acción
                </th>
            </tr>
        </thead>
        <tbody id="articulosIndexTableBody">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id_Cupon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PorcentajeDto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoCupon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Activo)
                    </td>
                    <td>
                        <button class="btn-secondary-k" id="" data-id="@item.Id_Cupon" data-bs-toggle="modal" data-bs-target="#modal-delete-registro-@item.Id_Cupon">Eliminar Cupón</button>
                        @* Modal de eliminar *@
                        <div class="modal fade" id="modal-delete-registro-@item.Id_Cupon" tabindex="-1" role="dialog" aria-labelledby="modal-delete-registroLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p>¿Seguro que quieres eliminar el cupón con ID: @item.Id_Cupon?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <h5 class="modal-title" id="modal-errorLabel-@item.Id_Cupon"></h5>
                                        <button type="button" class="btn btn-secondary-k" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-danger" onclick="eliminarCupon(@item.Id_Cupon)">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    @* Modal de confirmación de eliminación exitosa *@
                    <div class="modal fade" id="modal-success" tabindex="-1" role="dialog" aria-labelledby="modal-successLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content k-modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-successLabel"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts {
    <script src="~/js/articulos/searchcategoriasinmodal.js"></script>

    <script>
        var successMessage = sessionStorage.getItem('successMessage');
        if(successMessage){
            $('#success-message').removeClass()
                .addClass('text-success').text(successMessage);
            sessionStorage.removeItem('successMessage');
        }
    </script>

    <script>
        $(document).ready(function () {
            // Evento para detectar cuándo se abre un modal
            $('body').on('shown.bs.modal', '.modal', function () {
                var modalId = $(this).attr('id');
                var cuponId = modalId.replace('modal-delete-registro-', '');
                $('#modal-errorLabel-' + cuponId).text(''); // Limpiar el texto al abrir el modal
            });

            // Evento para detectar cuándo se cierra un modal
            $('body').on('hidden.bs.modal', '.modal', function () {
                var modalId = $(this).attr('id');
                var cuponId = modalId.replace('modal-delete-registro-', '');
                $('#modal-errorLabel-' + cuponId).text(''); // Limpiar el texto al cerrar el modal
            });
        });

        function eliminarCupon(idCupon) {
            console.log(idCupon);

            $.ajax({
                url: "http://localhost:5203/api/Cupones/" + idCupon,
                type: "DELETE",
                success: function (response) {
                    if (response) {
                        // Cerrar el modal de confirmación
                        $('#modal-delete-registro-' + idCupon).modal('hide');
                        // Mostrar el modal de éxito
                        $('#modal-successLabel').text(response);
                        $('#modal-success').modal('show');

                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    }
                },
                error: function (xhr) {
                    var errorMessage;
                    if (xhr.status === 400) {
                        errorMessage = xhr.responseText; // Capturar el mensaje de error
                    } else {
                        errorMessage = "Error al comunicarse con el Web Service de Cupones.";
                    }
                    $('#modal-errorLabel-' + idCupon).removeClass().addClass('text-danger').text(errorMessage);
                }
            });
        }
    </script>
}